*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("assets/bg.png") center / cover fixed;
    min-height: 100vh;
    color: #252525;
}

.hero {
    color: white;
}

.container {
    width: min(920px, calc(100% - 32px));
    margin: 40px auto;
}

.card{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 24px;
}

.card-header{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

button {
    color: white;
    padding: 4px 8px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 4px;
}

.btn-primary {
    background-color: rgb(22, 22, 216);
}

.btn-primary:hover {
    background-color: rgb(14, 14, 159);
}

.btn-secondary {
    background-color: #252525;
}

.btn-secondary:hover {
    background-color: #121212;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid white;
}